@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to Springfield Elementary School </h2>
<p>
    <div> </div>
    Springfield Elementary School is an American elementary School, located on 19 Plympton Street, Springfield, USA.
    The principal is Seymour Skinner and its superintendent is Gary Chalmers, who often visits the school, usually for not a good reason.
    The school's mascot is a purple puma.
    Springfield Elementary is two stories high with a gym and cafeteria. It is also based on McCarthy Middle School.
    Elementary School teachers are trained with emphases on human cognitive and psychological development and the principles
    of curriculum development and instruction.

</p>
<img src="https://images.squarespace-cdn.com/content/v1/566a4af357eb8d3974390587/1474085610560-X36WZPLI8CBOIV5LLJR3/ke17ZwdGBToddI8pDm48kMm9W5lbUqOTnoXzpHtaEzB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmnhbJtrfwp8bfXu9iW6Tjn_ovsTvaPnJ6dZes7azC1y_GgdU5E21G4W8KZoU5UazT/SpringfieldElementary-FULLART-E0916.jpg?format=750w" ,
     alt="Image of the school" ; style="width:600px;height:400px;">